<a href="https://colab.research.google.com/github/jeetu-g2-1/Python-Libraries/blob/main/Pandas_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![pandas.jpg]()

**Pandas**

In [4]:
import pandas as pd

**DATA FRAME**<br>
In Python, a DataFrame is a two-dimensional, tabular data structure provided by the pandas library. It is similar to a spreadsheet or a SQL table and is designed for handling and analyzing structured data. A DataFrame consists of rows and columns, where each column can be of a different data type (e.g., integers, floats, strings).

In [5]:
#import pandas as pd

# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

df = pd.DataFrame(data)

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In this example, a DataFrame is created from a dictionary where keys become column names, and values become the data in the respective columns. The print(df) statement displays the DataFrame in a tabular format.

**Series:** A one-dimensional labeled array that can hold any data type.

In [6]:
# Creating a Series
ages_series = pd.Series([25, 30, 35], name='Age')
print("\nSeries:")
print(ages_series)

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

In [7]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first element
print(s[0])

1

In [8]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first three element
print(s[:3])

a    1
b    2
c    3
dtype: int64

**Handling Missing Data:**<br>
 **dropna()**: Drops missing <br>
 **fillna()**: Fills missing values with a specified value completed from the data.<br>
 **isnull()** and **notnull()** : Checks for missing values. <br>

The **dropna()** method is used to remove missing values from a DataFrame or Series.

In [11]:
data = {'Name': ['Roy', 'Jithu', 'Karthik', None],
        'Age': [25, 20, None, 35],
        'Salary': [50000, 60000, 75000, None]}

df = pd.DataFrame(data)
print(df)
print("______________________")
# Drop rows with any missing values
df_cleaned = df.dropna()

print(df_cleaned)

      Name   Age   Salary
0      Roy  25.0  50000.0
1    Jithu  30.0  60000.0
2  Karthik   NaN  75000.0
3     None  35.0      NaN
______________________
    Name   Age   Salary
0    Roy  25.0  50000.0
1  Jithu  30.0  60000.0

The **fillna()** method is used to fill missing values with a specified value.

In [13]:
data = {'Name': ['Roy', 'Jithu', 'Karthik', None],
        'Age': [25, 20, None, 35],
        'Salary': [50000, 60000, 75000, None]}

df = pd.DataFrame(data)
print(df)
print("_____________")
# Fill missing values with a specified value (e.g., 0)
df_filled = df.fillna(0)

print(df_filled)

      Name   Age   Salary
0      Roy  25.0  50000.0
1    Jithu  30.0  60000.0
2  Karthik   NaN  75000.0
3     None  35.0      NaN
_____________
      Name   Age   Salary
0      Roy  25.0  50000.0
1    Jithu  30.0  60000.0
2  Karthik   0.0  75000.0
3        0  35.0      0.0

The **isnull()** method returns a DataFrame of the same shape as the original, where each element is True if the corresponding element in the original DataFrame is NaN, and False otherwise.

In [15]:
data = {'Name': ['Roy', 'Jithu', 'Raja', None],
        'Age': [25, 20, None, 35],
        'Salary': [50000, 60000, 75000, None]}

df = pd.DataFrame(data)
print(df)
print("____________")

# Check for missing values
missing_mask = df.isnull()
#vice-versa for notnull
print(missing_mask)

    Name   Age   Salary
0    Roy  25.0  50000.0
1  Jithu  30.0  60000.0
2   Raja   NaN  75000.0
3   None  35.0      NaN
____________
    Name    Age  Salary
0   True   True    True
1   True   True    True
2   True  False    True
3  False   True   False

**Data Cleaning:**<br>
**drop() :** Drops specified labels from rows and columns.<br>
**replace() :**Replace values <br>
**duplicated() and drop_duplicates() :**Identifies and drop duplicates.<br>
**astype() :**changes data types.<br>

The **drop()** method is used to remove specified labels from rows or columns in a DataFrame.

In [18]:
data = {'Name': ['Roy', 'Jithu', 'Raja'],
        'Age': [25, 20, 35],
        'Salary': [50000, 60000, 75000]}

df = pd.DataFrame(data, index=['A', 'B', 'C'])

# Drop a specified row
df_dropped_row = df.drop('B')

# Drop a specified column
df_dropped_column = df.drop('Salary', axis=1)
#The axis=1 parameter is used to indicate that you want to drop a column, while axis=0 is used to drop a row.
print(df_dropped_row)
print(df_dropped_column)

   Name  Age  Salary
A   Roy   25   50000
C  Raja   35   75000
    Name  Age
A    Roy   25
B  Jithu   30
C   Raja   35

The **replace()** method is used to replace specified values with other values in a DataFrame.:

In [20]:
data = {'Name': ['Roy', 'Raja', 'Jithu'],
        'Age': [25, 30, 20],
        'Salary': [50000, 60000, 75000]}

df = pd.DataFrame(data)
print(df)

print("---------------")

# Replace values in the 'Name' column
df.replace({'Roy': 'omkar', 'Raja': 'Imran'}, inplace=True)

print(df)

    Name  Age  Salary
0    Roy   25   50000
1   Raja   30   60000
2  Jithu   35   75000
---------------
    Name  Age  Salary
0  omkar   25   50000
1  Imran   30   60000
2  Jithu   35   75000

**duplicated()** and **drop_duplicates()**:
These methods are used to identify and drop duplicate rows in a DataFrame.

In [21]:
data = {'Name': ['Justin', 'omkar', 'Raja', 'Justin'],
        'Age': [25, 30, 35, 25],
        'Salary': [50000, 60000, 75000, 50000]}

df = pd.DataFrame(data)
print(df)
print("__________________")
# Identify duplicate rows --duplicated rows as True, otherwise False
duplicates = df.duplicated()


# Drop duplicate rows
df_no_duplicates = df.drop_duplicates()

print(duplicates)
print(df_no_duplicates)

     Name  Age  Salary
0  Justin   25   50000
1   omkar   30   60000
2    Raja   35   75000
3  Justin   25   50000
__________________
0    False
1    False
2    False
3     True
dtype: bool
     Name  Age  Salary
0  Justin   25   50000
1   omkar   30   60000
2    Raja   35   75000

The **astype()** method is used to change the data type of a column in a DataFrame.

In [22]:
data = {'Name': ['Raja', 'Jithu', 'Roy'],
        'Age': [25, 20, 15],
        'Salary': [50000, 60000, 75000]}

df = pd.DataFrame(data)
print(df)
print("_________")

# Change the data type of the 'Age' column to float
df['Age'] = df['Age'].astype(float)

print(df.dtypes)

    Name  Age  Salary
0   Raja   25   50000
1  Jithu   20   60000
2    Roy   15   75000
_________
Name       object
Age       float64
Salary      int64
dtype: object

**Indexing and Selection :** Selection of data using labels or boolean indexing.<br>
**loc[] and iloc[] for label-based and interger-location-based indexing respectively**

Indexing and selection are fundamental operations in data manipulation, allowing you to access specific elements, rows, or columns in a DataFrame. In pandas, two commonly used methods for indexing are **loc[]** for label-based indexing and **iloc[]** for integer-location-based indexing.

Label-Based Indexing (**loc[]**):
Label-based indexing allows you to select data based on labels (row or column names). It is particularly useful when the index or column names are not integers.

In [24]:
data = {'Name': ['Jithu', 'Omkar', 'Justin'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 75000]}

df = pd.DataFrame(data, index=['A', 'B', 'C'])

# Selecting a specific row by label
selected_row = df.loc['B']
print(selected_row)

Name      Omkar
Age          30
Salary    60000
Name: B, dtype: object

In [25]:
# Selecting specific rows and columns by labels
selected_data = df.loc[['A', 'C'], ['Name', 'Salary']]
print(selected_data)
#loc[['A', 'C'], ['Name', 'Salary']] selects specific rows ('A' and 'C') and specific columns ('Name' and 'Salary').

     Name  Salary
A   Jithu   50000
C  Justin   75000

Integer-Location-Based Indexing (**iloc[]**):<br>
Integer-location-based indexing is based on the numerical positions of the elements. It is useful when you want to select data using integer indices.

In [27]:
# Selecting a specific row by integer location
selected_row_by_index = df.iloc[0]
print(selected_row_by_index)

Name      Jithu
Age          25
Salary    50000
Name: A, dtype: object

In [28]:
# Selecting specific rows and columns by integer locations
selected_data_by_index = df.iloc[[0, 2], [0, 2]]
print(selected_data_by_index)

     Name  Salary
A   Jithu   50000
C  Justin   75000

**Filtering** and **querying** are common operations in data analysis, allowing you to extract specific subsets of data based on conditions. In pandas, boolean indexing and the **query()** method provide convenient ways to filter and query DataFrame data.

**Boolean Indexing:**<br>
Boolean indexing involves filtering data based on conditions, where a boolean mask is created to select rows that satisfy a particular condition.

In [29]:
data = {'Name': ['Ram', 'vikram', 'Raji', 'Imran'],
        'Age': [25, 30, 35, 28],
        'Salary': [50000, 60000, 75000, 55000]}

df = pd.DataFrame(data)

# Boolean indexing: Selecting rows where Age is greater than 30
filtered_data = df[df['Age'] > 30]
print(filtered_data)

   Name  Age  Salary
2  Raji   35   75000

**query()** Method:<br>
The **query()** method allows you to perform SQL-like queries on DataFrames using a query string.

In [30]:
# Using query: Selecting rows where Salary is greater than 55000
query_result = df.query('Salary > 55000')
print(query_result)

     Name  Age  Salary
1  vikram   30   60000
2    Raji   35   75000

In [33]:
# Using variables in query
min_salary = 60000
query_result_variable = df.query('Salary > @min_salary')
print(query_result_variable)
#The @ symbol is used to indicate that it's a variable and not a column name in the DataFrame.

#Without the @ symbol, pandas would interpret min_salary as a column name, and it would likely result in an error or incorrect behavior.

#So, the @ symbol is used as a prefix to indicate that the subsequent identifier is a variable, not a column name within the DataFrame.

   Name  Age  Salary
2  Raji   35   75000

In this example, @min_salary allows you to use the variable min_salary in the query.<br>
Both boolean indexing and the query() method are powerful tools for extracting relevant information from a DataFrame based on specific conditions. The choice between them often depends on personal preference and the complexity of the conditions you want to apply.

**Grouping and Aggregation :**<br>


*   groupby() : Groups data based on specified on criteria
*   Aggregation functions like sum() , mean() , count() etc,.;

**groupby()** Method:<br>
The **groupby()** method in pandas is used to group data based on specified criteria. It divides the DataFrame into groups based on unique values in one or more columns.

In [41]:
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 15, 20, 25, 30, 35]}

df = pd.DataFrame(data)

# Print the DataFrame
print("Original DataFrame:")
print(df)
print("_________")

# Grouping by 'Category'
grouped_df = df.groupby('Category')
print(grouped_df)
print("_________")
# Print the grouped data
print("Grouped Data:")
for name, group in grouped_df: #grouped --grouped,information in the form of dictionary
    print(f"Group: {name}")
    print(group)
    print("-----")

Original DataFrame:
  Category  Value
0        A     10
1        B     15
2        A     20
3        B     25
4        A     30
5        B     35
_________
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x784599866350>
_________
Grouped Data:
Group: A
  Category  Value
0        A     10
2        A     20
4        A     30
-----
Group: B
  Category  Value
1        B     15
3        B     25
5        B     35
-----

**Aggregate Functions**<br>
Once the data is grouped, you can apply various aggregation functions to summarize each group.

In [39]:
sum_values = grouped_df['Value'].sum()
print("Sum of Values:")
print(sum_values)

Sum of Values:
Category
A    60
B    75
Name: Value, dtype: int64

In [40]:
# Calculating the mean of values within each group
mean_values = grouped_df['Value'].mean()
print("\nMean of Values:")
print(mean_values)

Mean of Values:
Category
A    20.0
B    25.0
Name: Value, dtype: float64

In [42]:
# Counting the number of occurrences within each group
count_values = grouped_df['Value'].count()
print("\nCount of Values:")
print(count_values)

Count of Values:
Category
A    3
B    3
Name: Value, dtype: int64

You can also apply multiple aggregation functions simultaneously using the **agg()**

In [43]:
# Applying multiple aggregation functions at once
agg_result = grouped_df['Value'].agg(['sum', 'mean', 'count'])
print("\nAggregation Result:")
print(agg_result)

Aggregation Result:
          sum  mean  count
Category
A          60  20.0      3
B          75  25.0      3

**Merging and Joining**<br>


*   merge() : Merges two dataframes based on common key.
*   concat() : concatenates dataframes along a particular axis.

**merge()** Function:<br>
The merge() function in pandas is used to merge two DataFrames based on one or more common keys.

In [44]:
# Creating two DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Salary': [60000, 75000, 80000]})

# Merging DataFrames based on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

   ID     Name  Salary
0   2      Bob   60000
1   3  Charlie   75000

**concat()** Function:<br>
The concat() function in pandas is used for concatenating DataFrames along a specified axis (either rows or columns).

In [45]:
# Creating two DataFrames with the same columns
df3 = pd.DataFrame({'ID': [5, 6], 'Name': ['David', 'Eva']})
df4 = pd.DataFrame({'ID': [7, 8], 'Name': ['Frank', 'Grace']})

# Concatenating DataFrames along rows (axis=0)
concatenated_rows = pd.concat([ df3, df4], axis=0)
print(concatenated_rows)

   ID   Name
0   5  David
1   6    Eva
0   7  Frank
1   8  Grace

In [47]:
# Creating two DataFrames with the same index
df5 = pd.DataFrame({'Salary': [90000, 95000]})
df6 = pd.DataFrame({'Salary': [100000, 110000]})

# Concatenating DataFrames along columns (axis=1)
concatenated_columns = pd.concat([df3, df5, df6], axis=1)
print(concatenated_columns)

   ID   Name  Salary  Salary
0   5  David   90000  100000
1   6    Eva   95000  110000

**Reshaping and pivoting**<br>


*   melt() : Unpivots a dataframe from wide format to long format.
*   pivot() : Pivots a dataframe from long format to wide format.

**Handling Date Time Data:**

*   pd.to_datetime() : converts a column to datetime format.

**Categorical Data :**<br>
astype("category") : converts a column to a categorical data type.<br>
pd.categorical() : create a categorical object.

**Descriptive statstics:**

*   mean()
*   medain()
*   std()